@charset "utf-8";

body {  
    text-align: center;
	}
h1 { text-align: center; }

.container {padding: 20px; }


#intoduction { background-color: color: #ffcccc;
  }

.cats-container {border: 1px solid #fccccc;
                border-radius: 10px; 
  }
.catstext {background-color: color: #00A1EF;
  }

#persianpic { align-content: center;
			 width:220px;
	}
