@charset "utf-8"

/*basic styles for everywhere */
#intoduction { background-color: : #ffcccc
  }
#header { background-color: : #ffcccc 
}

.cats-container {border: 1px solid #fccccc;
                border-radius: 10px; 
            }

.persianpic {align-content: center;
			padding-top: 12px; 
			padding-bottom: 5px; 
			width:220px;}
