@charset "utf-8"

/*basic styles for everywhere */
body { background-color:
    color: #8A48FF; 
	}
h1 { text-align: center; }

.container {padding: 20px; }


#intoduction { background-color: color: #ffcccc;
  }

.cats-container {border: 1px solid #fccccc;
                border-radius: 10px; 
  }
.catstext {background-color: color: #122237;
  }

.persianpic { align-content: center;
			 width:220px;
	}
